<div class="body">
  <div class="container">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div class="form-group" >
      <label for="exampleInputEmail1">Nom </label>
      <input formControlName="firstname" placeholder="Votre nom" type="text" class="form-control" id="r" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Prenom </label>
        <input formControlName="lastname"  placeholder="Votre prenom"  type="text" class="form-control" id="e">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Email</label>
        <input formControlName="email"  placeholder="Votre email"  type="text" class="form-control" id="z">
      </div>

      <div class="form-group">
      <label for="exampleInputPassword1">Mot de passe</label>
      <input formControlName="password"  placeholder="Votre mot de passe"  type="text" class="form-control" id="a">
    </div>

    <div class="form-group">
    <label for="exampleInputPassword1">Confirmer le Mot de passe</label>
    <input formControlName="passwordv"  placeholder="verifié votre mot de passe"  type="text" class="form-control" id="t">
  </div>
  
      <div class="form-group">
      <label for="exampleInputPassword1">Etablissement</label>
      <input formControlName="etablissement"  placeholder="Etablissement"  type="text" class="form-control" id="a">
    </div>
    <select class="show-tick form-control noBSselect">
        <option  *ngFor='let az of spor' value="--Select--">{{az}}</option>
        
    </select>

       
    <button type="submit" class="btn ">Envoyer </button>
  </form>
</div>
</div>

</div>


</div>