.container{
    margin-top: 40px;

}

.body{
    padding: 80px !important;
color: white;
    margin-top: -30px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../assets/insc2.png");

    background-repeat:no-repeat;
    background-size: cover;
  
    font-family: 'Quicksand', sans-serif;

}
.btn{
    color: white;
    font-family: 'Quicksand', sans-serif;

    background-color: #dbb91f !important;
    
}
