<div class="body">

  <div class="row">
  
<div class="container" *ngIf='events'>
 
    <div class="row" >
        <div *ngFor='let item of events' [routerLink]="['/events', item.id]">
        <div class="card" style="width: 18rem;">
                <img src="{{item.pic}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> domaine de {{item.name}}</h5>
                  <p class="card-text">{{item.description}}</p>
                  <p class="test">
                    <a class="btn btn-primary ">Plus detaills</a>
                  </p>

                  </div>
              </div>
            </div>
             


</div>
</div>

</div>