<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">DeNext</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home"  href="#">Acceuil <span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item active">
          <a class="nav-link" routerLink="/events"  href="#">Events <span class="sr-only">(current)</span></a>
        </li>
        
      <li class="nav-item active">
          <a class="nav-link" routerLink="/coach"  href="#">Contact Coach <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/nuts"  href="#">Contact nutritionniste <span class="sr-only">(current)</span></a>
          </li>
      
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/signup" href="#">Sign up <span class="sr-only">(current)</span></a>

        </li>
        <li class="navbar-nav mr-auto">
          <a class="nav-link" href="#" routerLink="/signin">Login <span class="sr-only">(current)</span></a>

        </li>
       
      
      </ul>
    
    </div>
    
  </div>
</nav>

<router-outlet></router-outlet>

