.img{
    border-radius: 50px;
}
.title{
    text-align: center;
    margin: 50px 0px 50px 0px;
}
.parag{
    margin : 50px 0px 40px 0px;
    background-color:grey;
    padding:10px;
    border-radius: 5px;
}
.place{
    float: right;
}
.date{
    float: left;
}
.center{
    text-align: center;
}
.container{

    font-family: 'Quicksand', sans-serif;
margin-bottom: 80px;
}
.btn{
    background-color:grey;
    color:white;
}